#map { 
    width: 100%;
    height: 800px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
}
  
.input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
    color: white;
}
  
#clear-btn {
    border-radius: 20px;
}

.hero-section {
    background: url("../images/photo-1510312305653-8ed496efae75.jpg") 50% no-repeat;
    background-size: cover;
    background-position: 80%;
    height: 60vh;
    opacity: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 17px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1.5px 1.5px 2.5px #0a0a0a;
}

datalist {
    width: 100%;
}